# Compiled/intermediate Python files
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
sdist
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache

# iPython temp files
.ipynb_checkpoints

# Mac DS files
.DS_Store

# ReadTheDocs build directory
_build

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath 
.project
.pydevproject