language: python
python: 3.5
env:
  global:
    LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
  matrix:
    - TOXENV=py26,coveralls
    - TOXENV=py27,coveralls
    - TOXENV=py35,coveralls
    - TOXENV=pypy,coveralls
    - TOXENV=docs
before_install:
  - python --version
  - virtualenv --version
  - pip --version
  - uname -a
  - lsb_release -a
install:
  - pip install tox
script:
  - tox -e $TOXENV
notifications:
  email:
    on_success: never
    on_failure: always

